.App-header {
	height: 70px;
	display: flex;
	justify-content: flex-end;
	background-color: rgb(49, 20, 179);
	align-items: center;
	padding-right: 40px;
}

.options {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.lang-choice {
	line-height: 1.7;
}

.logIn, .logOut {
	width: 90px;
	height: 30px;
	border: none;
	border-radius: 20px;
	font-weight: 700;
	cursor: pointer;
}

.logIn { 
	background-color: yellow;
}

.logOut {
	background-color: rgb(255, 51, 0);
}