html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
   color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

.App-header {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(49, 20, 179);
  align-items: center;
  padding-right: 40px;
}

.options {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  min-height: 100vh;
  background-color: #586072;
}

.lang-choice {
  line-height: 1.7;
}

.login {
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}